/*div{
	border:solid black 1px;
}*/
.home{
	background-image:url(assets/orange2.png);
	background-size:100vh;
}
.watch{
	background-image:url(assets/yellow.png);
	background-size:100vh;
}
.artists{
	background-image:url(assets/blue.png);
	background-size:100vh;
}
.about{
	background-image:url(assets/pink.png);
	background-size:100vh;
}
.about-text{
	color:white;
}
.contact{
	background-image:url(assets/green.png);
	background-size:100vh;
}
.content{
	margin-bottom:75px;
}
.navbar-toggler{
	border:none;
}

h1{
	font-size:65px;
	color:white;
	text-shadow: 5px 5px #FF006C;
}
h2{
	font-size:45px;
	color:white;
}
h3{
	font-size:20px;
	color:white;
}
.logo{
	height:75px;

}
.social{
	height:30px;

}
.header{
	background-image:url(assets/Paper.png);
	background-repeat:no-repeat;
		
	}

.header-img{
	z-index:-1;
}
/*.header-link{
	z-index:3;
	display:inline;
	font-size:30px;
	font-weight:bold;
	color:black;
	
}
.header-link:hover{
	z-index:3;
	display:inline;
	font-size:30.5px;
	font-weight:bold;
	font-weight:bold;
}
*/.nav-link{
	z-index:3;
	display:inline;
	font-weight:bold;
	text-decoration:none;
	color:white;

}
.nav-link:hover{
	z-index:3;
	display:inline;
	font-weight:bold;
	font-style:none;
	text-decoration:none;
	color:white;
	text-shadow: 2px 2px #FF006C;
	
}
.embed-container{
	margin-top:25px
}
button{
	height:75px;
	width:200px;
	border: solid black 10px;

}

.spacer{
	height:20vh;
}
.footer{
	background-color:grey;

}
#artistName{
	color:white;

}
#artistBio{
	color:white;

}
#slides {
      display:none;
}
.arrowLeft{
	position:relative;
	bottom:500px;
	right:0px;
	z-index:2;

}
.arrowRight{
	position:relative;
	bottom:;
	left:;


}
/*Small devices (landscape phones, 576px and up)*/
/*@media (max-width: 576px){
		.frontcover{
	display:inline-block;
	width:100%;
	height:50%;
	padding-right:15px;
	padding-left:15px;
}
	.backcover{
	display:inline-block;
	width:100%;
	height:50%;
	padding-right:15px;
	padding-left:15px;

}
	.soundcloud{
	padding-right:15px;
	padding-left:15px;	
	}
	.header{
		background-image:url(assets/header2.png);
		background-height:200px;
		background-repeat:no-repeat;
		height:250px;
		
	}
}
*/
/*Medium devices (tablets, 768px and up)*/
/*@media (max-width: 768px){
	.frontcover{
	display:inline-block;
	width:100%;
	height:50%;
	padding-right:15px;
	padding-left:15px;
}
	.backcover{
	display:inline-block;
	width:100%;
	height:50%;
	padding-right:15px;
	padding-left:15px;

}
	.soundcloud{
	padding-right:15px;
	padding-left:15px;	
	}
		.header{
		background-image:url(assets/header2.png);
		background-size:100%;
		background-repeat:no-repeat;
		height:250px;
		
	}	
}
*/
/*Large devices (desktops, 992px and up)*/
/*@media (max-width: 992px){
		.frontcover{
	display:inline-block;
	width:50%;
	height:50%;
	padding-right:15px;
	padding-left:none;
}
	.backcover{
	display:inline-block;
	width:50%;
	height:50%;
	padding-right:none;
	padding-left:15px;
}
		.header{
		background-image:url(assets/header6.png);
		background-size:100%;
		background-repeat:no-repeat;
		height:250px;
		
	}
}
*/
/*Extra large devices (large desktops, 1200px and up)*/
/*@media (max-width: 1200px){
		.frontcover{
	display:inline-block;
	width:50%;
	height:50%;
	padding-right:15px;
	padding-left:none;
}
	.backcover{
	display:inline-block;
	width:50%;
	height:50%;
	padding-right:none;
	padding-left:15px;
}
	.header{
		background-image:url(assets/header6.png);
		background-size:100%;
		background-repeat:no-repeat;
		height:250px;
		
	}


}*/